<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hash String to {{ head.algorithm_name }} - Crypticworld</title>
    <meta
      name="description"
      content="Crypticworld is a lightweight web application built using Flask that allows users to hash any given text using a wide variety of hashing algorithms. This app is designed to support multiple encoding formats."
    />
    <meta name="google-site-verification" content="toVnlyBWfIrTB52GxiBZr1xnHcpzSLxaiqytEXETOcU" />
    <meta property="og:title" content="Hash String to {{ head.algorithm_name }} - Crypticworld" />
    <meta
      property="og:description"
      content="Crypticworld is a lightweight web application built using Flask that allows users to hash any given text using a wide variety of hashing algorithms. This app is designed to support multiple encoding formats."
    />
    <meta property="og:url" content="https://crypticworld.functionbasket.com/" />
    <meta
      property="og:image"
      content="https://crypticworld.functionbasket.com/static/logos/crypticworld-logo-full.png"
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@SS_Swadhinn" />
    <meta name="twitter:title" content="Hash String to {{ head.algorithm_name }} - Crypticworld" />
    <meta
      name="twitter:description"
      content="Crypticworld is a lightweight web application built using Flask that allows users to hash any given text using a wide variety of hashing algorithms. This app is designed to support multiple encoding formats."
    />
    <meta
      name="twitter:image"
      content="https://crypticworld.functionbasket.com/static/logos/crypticworld-logo-full.png"
    />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ static_url('css/base.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" />
    <link rel="stylesheet" href="{{ static_url('css/utility.css') }}" />
    <script src="{{ static_url('script/main.js') }}" defer></script>
  </head>

  <body>
    {% include "layouts/header.html" %}
    <main class="w-full">
      <section class="w-full relative flex bg-gray-300 dark:bg-gray-900">
        <aside
          class="w-full max-w-[15rem] lg:max-w-xs fixed min-h-[100vh] top-0 xl:relative hidden xl:flex flex-col gap-4 px-8 py-6 xl:z-50 transition-all duration-300 bg-gray-300 brightness-105 dark:bg-slate-700 dark:brightness-90 shadow-[2px_0px_10px_0px_rgba(31,41,55,0.35)] dark:shadow-none"
          data-sidebar
        >
          <div class="w-full flex justify-end xl:hidden my-6 xl:my-0">
            <button type="button" data-sidebar-toogle-button>
              <span class="sr-only">Close Button</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 stroke-gray-300 fill-gray-300"
                viewBox="0 -960 960 960"
                data-v-966a8da7=""
              >
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                  data-v-966a8da7=""
                ></path>
              </svg>
            </button>
          </div>
          <h2 class="text-lg lg:text-xl font-bold text-gray-800 dark:text-gray-400">Hash</h2>
          <div class="flex flex-col">
            {% for algorithm in algorithms %} {% if algorithm.title == head.algorithm_name %}
            <div class="w-full py-3">
              <div class="flex justify-between items-center">
                <a href="{{ algorithm.url.text_hash }}">
                  <span class="font-bold text-base md:text-lg text-green-700 dark:text-green-400"
                    >{{ algorithm.title }}</span
                  >
                </a>
                <button type="button" class="flex-grow flex justify-end" data-toogle-sidebar-hash-lists="">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 transition-all" viewBox="0 0 512 512">
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="stroke-green-700 dark:stroke-green-500 fill-none"
                      stroke-width="48"
                      d="M112 184l144 144 144-144"
                    />
                  </svg>
                </button>
              </div>
              <ul class="list-none px-4 py-2 _hide-content">
                <li class="list-none">
                  <a href="{{ algorithm.url.text_hash }}" class="font-medium text-gray-600 dark:text-gray-400"
                    >{{ algorithm.title }}</a
                  >
                </li>
                <li class="list-none">
                  <a href="{{ algorithm.url.file_hash }}" class="font-medium text-gray-600 dark:text-gray-400"
                    >{{ algorithm.title }} File</a
                  >
                </li>
              </ul>
            </div>
            {% else %}
            <div class="w-full py-3">
              <div class="flex justify-between items-center">
                <a href="{{ algorithm.url.text_hash }}">
                  <span class="font-bold text-base md:text-lg text-gray-700 dark:text-gray-300"
                    >{{ algorithm.title }}</span
                  >
                </a>
                <button type="button" class="flex-grow flex justify-end" data-toogle-sidebar-hash-lists="">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 transition-all" viewBox="0 0 512 512">
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="stroke-gray-700 dark:stroke-gray-300 fill-none"
                      stroke-width="48"
                      d="M112 184l144 144 144-144"
                    />
                  </svg>
                </button>
              </div>
              <ul class="list-none px-4 py-2 _hide-content">
                <li class="list-none">
                  <a href="{{ algorithm.url.text_hash }}" class="font-medium text-gray-600 dark:text-gray-400"
                    >{{ algorithm.title }}</a
                  >
                </li>
                <li class="list-none">
                  <a href="{{ algorithm.url.file_hash }}" class="font-medium text-gray-600 dark:text-gray-400"
                    >{{ algorithm.title }} File</a
                  >
                </li>
              </ul>
            </div>
            {% endif %} {% endfor %}
          </div>
        </aside>
        <section class="w-full flex-grow">
          <div
            class="py-4 relative flex justify-center items-center bg-gray-200 dark:bg-gray-900 brightness-95 dark:brightness-150"
            aria-label="secondary-header"
          >
            <div class="absolute xl:relative xl:hidden left-0 h-full flex justify-center items-center">
              <button type="button" class="px-8" data-sidebar-toogle-button>
                <span class="sr-only">Toogle sidebar button</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-6 w-6 stroke-gray-800 dark:stroke-gray-300"
                  viewBox="0 0 512 512"
                >
                  <path
                    stroke-linecap="round"
                    stroke-miterlimit="10"
                    stroke-width="48"
                    d="M88 152h336M88 256h336M88 360h336"
                  />
                </svg>
              </button>
            </div>
            <div class="xl:my-6">
              <h2 class="font-bold text-lg md:text-xl lg:text-2xl text-gray-800 dark:text-gray-300">
                Hash String to {{ head.algorithm_name }}
              </h2>
            </div>
          </div>
          <section>
            <div class="grid grid-rows-2 xl:grid-cols-2 xl:grid-rows-1">
              <div
                class="w-full min-h-96 xl:min-h-[56rem] h-full border-b-2 xl:border-r-4 xl:border-b-0 border-gray-400 dark:border-gray-700"
              >
                <div
                  class="w-full py-4 px-4 xl:px-8 border-y-2 border-gray-300 dark:border-gray-800 bg-gray-200 dark:bg-gray-900 brightness-95 dark:brightness-[1.75]"
                >
                  <span class="text-gray-800 dark:text-gray-300">Input</span>
                </div>
                <div
                  class="w-full py-4 px-4 xl:px-8 flex flex-col lg:flex-row gap-4 xl:gap-6 border-b-2 border-gray-300 dark:border-gray-800 bg-gray-200 dark:bg-gray-900 brightness-90 dark:brightness-[1.25]"
                >
                  <div class="flex gap-2 items-center">
                    <span class="text-gray-700 dark:text-gray-400">Encoding</span>
                    <select
                      name="encoding"
                      id="encoding"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-max p-1 lg:p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    >
                      {% for encoding in encodings %}
                      <option value="{{ encoding[1] }}">{{ encoding[0] }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="flex gap-2 items-center">
                    {% if show_digest_len %}
                    <span class="text-gray-700 dark:text-gray-400 text-nowrap">Output Bits</span>
                    <input
                      type="number"
                      name="digest_len"
                      id="digest_len"
                      min="8"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 w-20 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    />
                    {% endif %}
                  </div>
                </div>
                <textarea
                  name="input"
                  id="input"
                  placeholder="Type your text here..."
                  class="h-full w-full resize-none outline-none font-medium text-base xl:text-lg p-6 text-gray-900 dark:text-gray-200 bg-gray-300 dark:bg-gray-900"
                ></textarea>
              </div>
              <div class="w-full">
                <div
                  class="w-full py-4 px-4 xl:px-8 border-y-2 border-gray-300 dark:border-gray-800 bg-gray-200 dark:bg-gray-900 brightness-95 dark:brightness-[1.75]"
                >
                  <span class="text-gray-800 dark:text-gray-300">Output</span>
                </div>
                <textarea
                  name="output"
                  id="output"
                  disabled
                  class="h-full w-full cursor-default resize-none outline-none font-medium text-sm xl:text-base p-6 text-gray-950 dark:text-gray-300 bg-gray-300 dark:bg-gray-900"
                ></textarea>
              </div>
            </div>
          </section>
        </section>
      </section>
    </main>
    {% include "layouts/footer.html" %}
  </body>
</html>
