<footer class="w-full bg-slate-700 py-4 lg:py-6">
    <div class="max-w-5xl mx-auto flex justify-between items-center">
        <span class="text-gray-300 cursor-default">&copy; 2024 Crypticworld. All rights reserved</span>
        <a class="flex gap-1 md:gap-2 justify-center items-center text-gray-300"
            href="https://github.com/blueorionn/crypticworld">
            <span>Made by swadhin</span>
            <img src="/static/logos/github-mark-white.png" alt="Github logo" class="aspect-auto h-4 w-4">
        </a>
    </div>
</footer>