<header class="w-full h-max bg-gray-800">
    <nav class="max-w-5xl w-full mx-auto py-4 md:py-6 flex justify-between items-center">
        <div class="w-max">
            <a href="/" class="flex gap-1 md:gap-2 justify-center items-center">
                <img src="/static/logos/crypticworld-logo.png" alt="Website Logo"
                    class="aspect-auto h-6 w-6 md:h-8 md:w-8 lg:h-10 lg:w-10">
                <h1 class="text-gray-200 font-bold text-xl md:text-2xl">Cryptic<span
                        class="text-[--clr-bs-green]">world</span></h1>
            </a>
        </div>
        <div class="w-max">
            <a href="https://github.com/blueorionn/crypticworld">
                <img src="/static/logos/github-mark-white.png" alt="Github logo" class="aspect-auto h-4 w-4 lg:h-6 lg:w-6">
            </a>
        </div>
    </nav>
</header>