<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 | Internal server error</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  </head>

  <body>
    <main class="h-full w-full flex justify-center items-center bg-gray-900">
      <div
        class="flex justify-center items-center flex-col lg:flex-row lg:gap-2 text-lg md:text-xl font-bold text-gray-200"
      >
        <span>500</span>
        <span class="rotate-90 lg:rotate-0">|</span>
        <span>Internal server error</span>
      </div>
    </main>
  </body>
</html>
